{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title%}
افزودن کتاب
{% endblock title %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title float-left">افزودن کتاب</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row" style="padding: 20px;">

        <div class="col-12">
          {{form.name|as_crispy_field}}
        </div>
        <div class="col-12">
          {{form.slug|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.author|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.publisher|as_crispy_field}}
          {{form.translator|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.category|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.number_of_pages|as_crispy_field}}
          {{form.in_stock|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.language|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.pub_year|as_crispy_field}}
          {{form.edition|as_crispy_field}}
        </div>
        <div class="col-6">
          {{form.picture|as_crispy_field}}
        </div>

        <div class="col-6">
          {{form.age_category|as_crispy_field}}
        </div>
        <div class="col-12">
          {{form.description|as_crispy_field}}
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">تایید</button>
      </div>
    </form>
  </div>
{% endblock content %}