{% extends "account/base.html" %}
{% block title%}
افزودن کتاب
{% endblock title %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title float-left">افزودن کتاب</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="row" style="padding: 20px;">

        <div class="col-12">
          {{form.name}}
        </div>
        <div class="col-6">
          {{form.author}}
        </div>
        <div class="col-6">
          {{form.publisher}}
          {{form.translator}}
        </div>
        <div class="col-6">
          {{form.category}}
        </div>
        <div class="col-6">
          {{form.number_of_pages}}
          {{form.in_stock}}
        </div>
        <div class="col-6">
          {{form.language}}
        </div>
        <div class="col-6">
          {{form.pub_year}}
          {{form.edition}}
        </div>
        <div class="col-6">
          {{form.picture}}
        </div>

        <div class="col-6">
          {{form.age_category}}
        </div>
        <div class="col-12">
          {{form.description}}
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">تایید</button>
      </div>
    </form>
  </div>
{% endblock content %}