{% extends "account/base.html" %}
{% block title %}
کتاب ها
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست کتاب ها</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control" placeholder="جستجو" style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 15px;border-bottom-right-radius: 15px;">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default" style="    border-top-right-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 15px;border-bottom-left-radius: 15px;"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام کتاب</th>
                <th>عکس</th>
                <th>نویسنده</th>
                <th>ناشر</th>
                <th>مترجم</th>
                <th>توصیحات</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
              {% for book in object_list %}
              
              <tr>
                <td><a href="{% url 'account:book-detail' book.slug %}">{{book.name}}</a></td>
                <td>{{book.html_img}}</td>
                <td>{{book.author_str}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.translator}}</td>
                <td>{{book.description|striptags|truncatewords:10}}</td>
                <td>{% if book.in_stock == 0 %}
                      <span class="badge badge-danger" style="font-size: 13px;">ناموجود</span>
                      <a href="{% url 'account:preview-book' book.slug %}" class="btn bg-gray-dark" style="font-size: 11px;">پیش‌نمایش</a>
                    {% else %}
                      <span class="badge badge-success" style="font-size: 13px;">موجود</span>
                      <a href="{% url 'books:about' book.slug %}" class="btn btn-primary" style="font-size: 11px;">نمایش در سایت</a>
                    {% endif %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}