{% extends "account/base.html" %}
{% block title %}
لیست انتظار
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست انتظار</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام کتاب</th>
                {% if request.user.is_staff or request.user.is_superuser %}
                  
                <th>کاربران</th>
                {% endif %}
                <th>عکس</th>
                <th>کد کتاب</th>
                <th>نویسنده</th>
                <th>ناشر</th>
                <th>مترجم</th>
                <th>توضیحات</th>
              </tr>
            </thead>
            <tbody>
              {% for book in object_list %}
              
              <tr>
                {% if request.user.is_staff or request.user.is_superuser %}
                  <td><a href="{% url 'account:book-detail' book.slug %}">{{book.name}}</a></td>
                {% else %}
                  <td><a href="{% url 'books:book-detail' book.slug %}">{{book.name}}</a></td>
                {% endif %}
                {% if request.user.is_staff or request.user.is_superuser %}
                <td>
                  {% for user in book.waiting_users.all %}
                    <a href="{% url 'account:user-detail' user.id %}">{{user}}</a>, 
                  {% endfor %}
                </td>
                {% endif %}
                <td>{{book.html_img}}</td>
                <td>{{book.id}}</td>
                <td>{{book.author_str}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.translator}}</td>
                <td>{{book.description|striptags|truncatewords:10}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}