{% extends "account/base.html" %}
{% block title %}
کتاب ها
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست کتاب ها</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <form action="" method="get">
                {{searchForm}}
                <button type="submit">search</button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام دسته بندی</th>
                <th>کد دسته بندی</th>
                <th>لینک</th>
                <th>تاریخ ایجاد</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for category in object_list %}
              
              <tr>
                <td>{{category.name}}</td>
                <td>{{category.id}}</td>
                <td>{{category.slug}}</td>
                <td>{{category.persian_date_created}}</td>
                <td>
                  <a href="{% url 'books:category' category.slug %}" class="btn btn-primary" style="font-size: 11px;">نمایش در سایت</a>
                  <a href="{% url 'account:category-update' category.slug %}" class="btn btn-warning" style="font-size: 11px;">ویرایش</a>
                  <a href="{% url 'account:category-delete' category.slug %}" class="btn btn-danger" style="font-size: 11px;">حذف</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}