{% load static %}

<!DOCTYPE html>
<html lang="en" style="overflow-y: auto; overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
      
    {% endblock title %}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authentication/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/responsive.css' %} ">
    <link rel="stylesheet" href="{% static 'main/css/searchbar-responsive.css' %} ">
</head>
<body style="background-image: url({% static 'main/images/Newfolder/nature.jpg' %});background-size: cover;background-repeat: no-repeat;">

    <div class="main" style="background: none;">


{% block content %}
  
{% endblock content %}

</div>
    
</body>
    <!-- JS -->
    <script src="{% static 'authentication/vendor/jquery/jquery.min.js' %} "></script>
</html>