{% extends "registration/base.html" %}
{% load static %}
{% block title %}
  اکانت ساخته شد!
{% endblock title %}
{% block content %}
  
<!-- Sing in  Form -->
<section class="sign-in">
    <div class="containersing config-cont" style="
    width: 557px;
    box-shadow: 0px 5px 18px 0px;" >
        <div class="flex">
            <section class="coll-m10">
                <h2 class="signtitle">سرزمین </h2>
                
                <h2 class="">کتاب  </h2>
                
            </section>
            {% if is_valid %}
                <div class="signin-content">
                    <video autoplay loop  muted playsinline  width="200px" height="200px"   src="{% static 'authentication/images/lv_0_۲۰۲۴۰۷۱۱۱۳۲۸۴۶.mp4' %}" type="video/mp4"   ></video>

                    
                </div>
            <h1>ثبت نام شما با موفقیت انجام شد</h1>

            <a href="{% url 'books:index' %}" class="form-submit" style="
margin-bottom: 10px; outline: none; border: none;
font-size: 1.3rem;">ادامه فرایند</a >
            {% else %}
            <h1 >لینک وارد شده نا معتبر است.</h1>
        {% endif %}
            </div>
        </div>
    
</section>
{% endblock content %}