{% extends "registration/base.html" %}
{% load static %}
{% block title %}
ایمیل ارسال شد!
{% endblock title %}
{% block content %}
  
<!-- Sing in  Form -->
<section class="sign-in">
    <div class="containersing config-cont" style="
    width: 557px;
    box-shadow: 0px 5px 18px 0px;" >
        <div class="flex" style="align-items: center;">
            <section class="coll-m10">
                <h2 class="signtitle">سرزمین </h2>
                
                <h2 class="">کتاب  </h2>
                
            </section>
            <h1 dir="rtl">ایمیل خود را چک کنید و از طریق لینک فرستاده شده ثبت نام خود را تکمیل کنید.</h1>
            </div>
        </div>
    
</section>
{% endblock content %}