{% extends "registration/base.html" %}
{% load static %}
{% block title %}
  ورود
{% endblock title %}
{% block content %}
  
<!-- Sing in  Form -->
<section class="sign-in" style="position: relative; top: -100px;">

    <div class="containersing">
        <section class="coll-m10" style="width: 100%;padding-top: 50px;">
        <h2 class="signtitle">سرزمین </h2>
       
        <h2 class="">کتاب  </h2>

     </section>
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="{% static 'authentication/images/signin-image.jpg' %}" alt="sing up image"></figure>
                
            </div>

            <div class="signin-form">
                <h2 class="form-title" >ورود</h2>
                {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <form method="POST" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if form.username.errors %}
                        <div>
                            {% for error in form.username.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <label for="id_username" style="padding-left: 7px;padding-top: 5px;"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" placeholder="نام کاربری "/>
                    </div>
                    <div class="form-group">
                        {% if form.password.errors %}
                        <div>
                            {% for error in form.password.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <label for="id_password" style="padding-left: 7px;"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="رمز عبور"/>
                        
                    </div>
                    <div>
                        <a href="{% url 'password_reset' %}" class="signup-image-link" style="color: #616161;font-size: 17px;font-weight: bold;text-decoration: none;margin-top: 20px;">فراموشی رمز؟</a>
                        <a href="{% url 'account:signup' %}" class="signup-image-link" style="color: #616161;font-size: 17px;font-weight: bold;text-decoration: none;">ایجاد حساب کار بری  </a>
                    </div>

                    <div class="form-group form-button" dir="rtl">
                        <input type="submit" name="signin" id="signin" class="form-submit" style="padding: 9px 28px;font-size: 17px;font-weight: bold;" value="ورود "/>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>


{% endblock content %}