{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block title%}
ارسال شد!
{% endblock title %}
{% block content %}
  <div class="card card-success" style="margin-top: 20px;">
    <div class="card-header">
      <h3 class="card-title float-left">ارسال شد!</h3>
    </div>
    <div class="card-body text-left">
        <h6>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.
          <br>
          اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.</h6>
    </div>
  </div>
{% endblock content %}