{% load static %}
<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden; overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سرزمین کتاب/بازیابی رمز عبور</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authentication/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
</head>
<body style="background-image: url({% static 'main/images/Newfolder/nature.jpg' %});background-size: cover;background-repeat: no-repeat;">

    <div class="main" style="background: none;">

        <!-- Sign up form -->        
         <section class="sign-in" style="position: relative; top: -100px;">

            <div class="containersing">
                
                <section class="coll-m10" style="width: 100%;">
                    <h2 class="signtitle">سرزمین </h2>
                   
                    <h2 class="">کتاب  </h2>
    
                 </section>
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title"> باز یابی رمز عبور</h2>
                        {% if validlink %}
                            <form method="POST" class="register-form" id="register-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_new_password1"><i class="zmdi zmdi-lock"></i></label>
                                    {{form.new_password1}}
                                </div>
                                <div class="form-group">
                                    <label for="id_new_password2"><i class="zmdi zmdi-lock-outline"></i></label>
                                    {{form.new_password2}}
                                </div>
                                <div class="form-group form-button">
                                    <input type="submit" name="signup" id="signup" class="form-submit " value="ثبت"  />
                                </div>
                            </form>
                        {% else %}
                            <h5>لینک نامعتبر است.</h5>
                        {% endif %}
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'authentication/images/signup-image.jpg' %}" alt="sing up image"></figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->

    </div>
</body>

<div class="beautibackg" id="beautibackg" style="top: 1150px;"></div>
    <!-- JS -->
    <script src="{% static 'authentication/vendor/jquery/jquery.min.js' %}"></script>
</html>