<!DOCTYPE html>
<html lang="en" style="overflow-y: hidden; overflow-x: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>سرزمین کتاب /قوانین</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="background-image: url(../images/Newfolder/nature.jpg);background-size: cover;background-repeat: no-repeat;">

    <div class="main" style="background: none;">


        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="containersing config-cont" style="
            width: 700px;
            box-shadow: 0px 5px 18px 0px;
            overflow-y: auto; padding: 25px;
            overflow-x: hidden;
            height: 500px;" >
                <div class="flex" style="flex-wrap: nowrap;">
                    
                    <section class="coll-m10" style="width: 100%;">
                        <h2 class="signtitle">سرزمین </h2>
                       
                        <h2 class="">کتاب  </h2>
        
                     </section>

                     <h3 style="direction: rtl;">
                     
بخش اول: قوانین عمومی
ساعت کاری کتابخانه:

کتابخانه دانشگاه در روزهای کاری هفته از ساعت ۸:۰۰ صبح تا ۸:۰۰ شب باز است و خدمات مختلف خود را به دانشجویان، اساتید و اعضای هیئت علمی ارائه می‌دهد.
در روزهای تعطیل رسمی، کتابخانه بسته خواهد بود. هرگونه تغییر در ساعت کاری کتابخانه از طریق وبسایت دانشگاه و تابلوهای اعلانات داخلی به اطلاع کاربران خواهد رسید.
ورود و استفاده از کتابخانه:

ورود به کتابخانه تنها با ارائه کارت دانشجویی معتبر یا کارت عضویت کتابخانه مجاز است. این کارت‌ها باید در تمامی زمان‌های حضور در کتابخانه همراه کاربران باشد.
ورود با کیف‌های بزرگ، چمدان‌ها و سایر وسایل حجیم ممنوع است. لطفاً از کمدهای مخصوص که در ورودی کتابخانه قرار دارند، برای نگهداری این وسایل استفاده کنید.
رفتار عمومی در کتابخانه:

رعایت سکوت و آرامش در تمامی بخش‌های کتابخانه الزامی است. این موضوع به منظور ایجاد محیطی مناسب برای مطالعه و پژوهش تمامی کاربران است.
تلفن‌های همراه باید در حالت سکوت قرار داشته باشند و استفاده از آن‌ها تنها در مناطق مشخص شده مجاز است.
مصرف غذا و نوشیدنی در سالن‌های مطالعه ممنوع است. تنها آب در بطری‌های دربسته مجاز است تا از خرابی منابع و تجهیزات جلوگیری شود.
بخش دوم: استفاده از منابع کتابخانه
امانت گرفتن کتاب‌ها و منابع چاپی:

<br>

هر دانشجو مجاز است حداکثر ۵ کتاب را به مدت ۲ هفته از کتابخانه امانت بگیرد. امانت کتاب‌ها به صورت الکترونیکی ثبت و کنترل می‌شود.
تمدید مدت امانت تنها یک بار و به مدت ۲ هفته امکان‌پذیر است، مشروط بر اینکه کتاب مورد نظر توسط کاربر دیگری رزرو نشده باشد. برای تمدید، کاربران باید از طریق پورتال کتابخانه اقدام کنند.
در صورت تأخیر در بازگرداندن کتاب، جریمه‌ای به ازای هر روز تأخیر محاسبه خواهد شد. این جریمه‌ها به منظور تضمین دسترسی عادلانه به منابع برای همه کاربران اعمال می‌شوند.
استفاده از منابع دیجیتال و پایگاه‌های اطلاعاتی:

دسترسی به پایگاه‌های اطلاعاتی، کتاب‌های الکترونیکی و سایر منابع دیجیتال تنها برای کاربران ثبت‌نام شده و از طریق پورتال کتابخانه امکان‌پذیر است. این منابع به طور منظم به‌روزرسانی می‌شوند تا اطلاعات جدید و کاربردی در دسترس کاربران قرار گیرد.
استفاده از منابع دیجیتال تنها برای مقاصد علمی و پژوهشی مجاز است. هرگونه تکثیر، توزیع و انتشار غیرمجاز این منابع پیگرد قانونی دارد و با کاربران متخلف برخورد خواهد شد.
استفاده از سالن‌های مطالعه و فضاهای گروهی:


<br>
سالن‌های مطالعه به صورت عمومی و گروهی در دسترس کاربران هستند. برای استفاده از سالن‌های مطالعه گروهی، کاربران باید از طریق سیستم رزرو آنلاین کتابخانه اقدام کنند.
استفاده از سالن‌های مطالعه تنها برای مقاصد مطالعه و پژوهش مجاز است. کاربران باید از ایجاد سر و صدا و هرگونه رفتاری که ممکن است باعث ایجاد مزاحمت برای دیگران شود، خودداری کنند.
بخش سوم: حقوق و مسئولیت‌ها
حقوق کاربران کتابخانه:

دسترسی به منابع و خدمات کتابخانه برای تمامی کاربران به صورت برابر و بدون تبعیض تضمین می‌شود. کتابخانه متعهد است که خدمات خود را با بالاترین کیفیت و در کوتاه‌ترین زمان ممکن ارائه دهد.
اطلاعات شخصی کاربران که در هنگام ثبت‌نام و استفاده از خدمات کتابخانه جمع‌آوری می‌شود، محرمانه بوده و تنها برای مقاصد مرتبط با خدمات کتابخانه استفاده می‌شود. این اطلاعات تحت هیچ شرایطی بدون رضایت کاربران به شخص ثالث ارائه نخواهد شد.
مسئولیت‌های کاربران:
<br>
حفظ و نگهداری از منابع و تجهیزات کتابخانه بر عهده کاربران است. کاربران باید با دقت و احترام با منابع کتابخانه برخورد کنند. هرگونه خسارت به منابع یا تجهیزات کتابخانه باید توسط کاربر جبران شود.
رعایت قوانین و مقررات کتابخانه برای تمامی کاربران الزامی است. در صورت تخلف از این قوانین، اقدامات انضباطی از جمله لغو عضویت کاربر و ممنوعیت دسترسی به خدمات کتابخانه در نظر گرفته خواهد شد.
پیشنهادات و شکایات:
<br>
کاربران می‌توانند نظرات، پیشنهادات و شکایات خود را از طریق فرم‌های موجود در وبسایت کتابخانه یا صندوق پیشنهادات در داخل کتابخانه مطرح کنند. نظرات شما برای بهبود خدمات کتابخانه ارزشمند است.
تمامی پیشنهادات و شکایات به دقت بررسی و در صورت نیاز اقدامات لازم انجام خواهد شد. کتابخانه متعهد است که در اسرع وقت به مسائل مطرح شده پاسخ دهد و مشکلات را حل کند.
                     </h3>
                </div>
            </div>
            
        </section>

    </div>
    
    <div class="beautibackg" id="beautibackg" style="top: 1150px;"></div>
</body>
    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</html>