{% extends "registration/base.html" %}
{% load static %}
{% block title %}
  ثبت نام
{% endblock title %}
{% block content %}
  
<!-- Sign up form -->        
 <section class="sign-in" style="position: relative; top: -100px;">

    <div class="containersing">
        
        <section class="coll-m10" style="width: 100%;">
            <h2 class="signtitle">سرزمین </h2>
           
            <h2 class="">کتاب  </h2>

         </section>
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">ایجاد حساب کار بری</h2>
                <form method="POST" class="register-form" id="register-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                    <span class="error">{{error}}</span>
                    {% endfor %}
                </div>
                {% endif %}
                    <div class="form-group">
                        <label for="id_username"><i class="zmdi zmdi-account material-icons-name"></i></label>

                        <input type="text" required aria-describedby="id_username_helptext" maxlength="150" required name="username" id="id_username" placeholder="نام کاربری" />
                        {% if form.username.errors %}
                        <div>
                            {% for error in form.username.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <span id="hint_id_username" class="form-text text-muted">الزامی. 150 کاراکتر یا کمتر. فقط شامل حروف، اعداد، و علامات @/./+/-/_</span>
                    </div>
                    <div class="form-group">
                        <label for="id_email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" maxlength="254" required  name="email" id="id_email" placeholder="ادرس ایمیل "/>
                        {% if form.email.errors %}
                        <div>
                            {% for error in form.email.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_password1"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" required name="password1" id="id_password1" placeholder="رمز عبور" aria-describedby="id_password1_helptext"/>
                        {% if form.password1.errors %}
                        <div>
                            {% for error in form.password1.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <span id="hint_id_password1" class="form-text text-muted"><ul><li>گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</li><li>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</li><li>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</li><li>گذرواژه شما نمی تواند کلا عدد باشد</li></ul></span>
                    </div>
                    <div class="form-group">
                        <label for="id_password2"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input  type="password" required name="password2" id="id_password2" aria-describedby="id_password2_helptext" placeholder="تکرار رمز عبور"/>
                        {% if form.password2.errors %}
                        <div>
                            {% for error in form.password2.errors %}
                            <span class="error">{{error}}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <span id="hint_id_password2" class="form-text text-muted">برای تائید، رمز عبور قبلی را وارد کنید.</span>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>با تمام <a href="{% url 'account:policy' %}">قواین</a> موافقم </label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit no-interaction" value="تایید"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="{% static 'authentication/images/signup-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'login' %}" class="signup-image-link">حسابی دارید؟وارید شوید</a>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'authentication/js/main.js' %} "></script>

{% endblock content %}
