{% extends "account/admin/base.html" %}
{% block title %}
  کتاب‌ها
{% endblock title %}
{% block content %}
  
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 1233.2px;margin-right: 0px  !important;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>کتاب ها</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'account:admin-profile' %}">خانه</a></li>
            <li class="breadcrumb-item active">کتاب ها</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch" style="justify-content: center !important;">


            {% for book in object_list %}
            <div class="card bg-light" style="
            max-width: 262px;   
            max-width: 262px;
            border-radius: 5px;
            margin: 0px 25px 0px 25px;
            ">
                     
        
          <a href="{% url 'account:book-detail' book.slug %}">
          <div class="card-body pt-0" style="width:180px;height: 230px; background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)), url('{{book.picture.url}}');border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;background-size: cover;">
            <h4 style="position: absolute;bottom: 45px;font-weight: bold;right: 10px;">{{book.name|truncatewords:4}}</h3>
          </div>
        </a>
        <div class="card-footer" style="padding: 0px;">
          <a href="{% url 'account:book-detail' book.slug %}" class="btn btn-sm btn-primary" style="width: 100%; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 0px;border-top-right-radius: 0px; height: 40px;font-size: 18px;font-weight: bold;">
              مشاهده   
          </a>
      </div>



      
</div> 
            {% endfor %}
 </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul class="pagination justify-content-center m-0">
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}
  
  
  <!-- <script src="../../dist/js/adminlte.min.js"></script> -->