{% extends "account/admin/base.html" %}
{% block title %}
  کتاب‌ها
{% endblock title %}
{% block content %}
  
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 1233.2px;margin-right: 0px  !important;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          {% if request.resolver_match.url_name == "author-books" %}
          <h1>آثار {{author}}</h1>
          {% elif request.resolver_match.url_name == "category-books" %}
          <h1>کتاب‌های {{category}}</h1>
          {% elif request.resolver_match.url_name == "books" %}
          <h1>کتاب‌ها</h1>
          {%endif%}
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'account:admin-index' %}">خانه</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'account:books' %}">کتاب ها</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row d-flex align-items-stretch" style="justify-content: space-evenly !important;">


            {% for book in object_list %}
            <div class="card bg-light" style="
            max-width: 262px;   
            max-width: 262px;
            border-radius: 5px;
            margin: 0px 25px 0px 25px;
            ">
                     
        
          <a href="{% url 'account:book-detail' book.slug %}">
          <div class="card-body pt-0" style="width:180px;height: 230px; background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.8)), url('{{book.picture.url}}');border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;background-size: cover;">
            <h4 style="position: absolute;bottom: 45px;font-weight: bold;right: 10px;">{{book.name|truncatewords:4}}</h3>
          </div>
        </a>
        <div class="card-footer" style="display: flex; padding: 0px;">
          {% if request.user.delete_books %}
            
          <a href="{% url 'account:book-detail' book.slug %}" class="btn btn-sm btn-primary" style="width: 50%; border-bottom-left-radius: 0px;border-bottom-right-radius: 5px;border-top-left-radius: 0px;border-top-right-radius: 0px; height: 40px;font-size: 18px;font-weight: bold;">
              مشاهده   
          </a>
          <a href="{% url 'account:book-delete' book.slug %}" class="btn btn-sm btn-danger" style="width: 50%; border-bottom-left-radius: 5px;border-bottom-right-radius: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px; height: 40px;font-size: 18px;font-weight: bold;">
              حذف   
          </a>
          {%else%}
          <a href="{% url 'account:book-detail' book.slug %}" class="btn btn-sm btn-primary" style="width: 100%; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 0px;border-top-right-radius: 0px; height: 40px;font-size: 18px;font-weight: bold;">
            مشاهده   
        </a>
          {% endif %}
      </div>



      
</div> 
            {% endfor %}
 </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <nav aria-label="Contacts Page Navigation">
          <ul class="pagination justify-content-center m-0">
            
            {% if books_page.has_previous %}
              <li class="page-item"><a style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" class="page-link" href="?books_page={{ books_page.previous_page_number }}">&lt;</a></li>
                  {% endif %}
              {% for page_number in books_page_range%}
                
              <li class="page-item {% if page_number == books_page.number %}active{% endif %}"><a style="border-radius: 0;" class="page-link" href="?books_page={{page_number}}">{{page_number}}</a></li>
              {% endfor %}
              {% if books_page.has_next %}
              <li class="page-item"><a style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="page-link" href="?books_page={{ books_page.next_page_number }}">&gt;</a></li>
                  {% endif %}
          </ul>
        </nav>
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}
  
  
  <!-- <script src="../../dist/js/adminlte.min.js"></script> -->