{% extends "account/admin/base.html" %}
{% block title %}
  کتاب {{object.name}}
{% endblock title %}
{% block style %}
  
{% endblock style %}
{% block content %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1233.2px;margin-right: 0px  !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>کتاب {{object.name}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'account:admin-index' %}">خانه</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'account:books' %}"> کتاب ها</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none">{{object.name}}</h3>
              <div class="col-12">
                <a href="{{object.picture.url}}"><img src="{{object.picture.url}}" class="product-image" alt="{{object.name}}" style="max-width: 350px;border-radius: 5px;"></a>
              </div>
              <div class="col-12 product-image-thumbs">
                <div class="">نویسنده:</div>
                {% if request.user.view_authors %}
                  
                <div class="product-image-thumb p-img-t">{% for author in object.author.all %}
                  <a href="{% url 'account:author-detail' author.slug %}">{{author.name}}</a>, 
                {% endfor %}</div>
                {% else %}
                <div class="product-image-thumb p-img-t">{% for author in object.author.all %}
                  <a href="{% url 'account:author-detail' author.slug %}">{{author.name}}</a>, 
                {% endfor %}</div>
                {% endif %}
                <div class=" p-img-t">منتشرکننده:</div>
                <div class="product-image-thumb">{{object.publisher}}</div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">کتاب {{object.name}}</h3>
             
              <hr>
              <h4>اطلاعات </h4>
              <div class="btn-group btn-group-toggle" style="justify-content: space-evenly;">
                <label class="text-center bg-gray" style="width: 50%;margin:0px;border-top-right-radius: 5px;padding:10px;border-left: solid #343A40;">
                 
                  موجودی برای رزرو:
                  <br>
                 {{object.in_stock_user}}
                </label>
                <label class=" text-center bg-gray" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-right: solid #343A40;">
                
                  موجودی برای تحویل:
                  <br>
                 {{object.in_stock}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-left: solid #6C757D;">
                 
                  زبان نوشتار:
                  <br>
                 {{object.language}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-right: solid #6C757D;">
                 
                  لینک:
                  <br>
                 {{object.slug}}
                </label>
                <label class="text-center bg-gray" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-left: solid #343A40;">
                 
                  تاریخ ایجاد:
                  <br>
                 {{object.persian_date}}
                </label>
                <label class="text-center bg-gray" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-right: solid #343A40;">
                 
                  رده سنی:
                  <br>
                 {{object.age_category}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-left: solid #6C757D;">
                 
                  مترجم:
                  <br>
                 {{object.translator}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-right: solid #6C757D;">
                 
                  سال چاپ:
                  <br>
                 {{object.pub_year}}
                </label>
                <label class="text-center bg-gray" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-left: solid #343A40;">
                 
                  تعداد صفحات:
                  <br>
                 {{object.number_of_pages}}
                </label>
                
                <label class="text-center bg-gray" style="width: 50%;margin:0px;border-top-left-radius: 5px;padding:10px;border-right: solid #343A40;">
                 
                  سری چاپ:
                  <br>
                 {{object.edition}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-left: solid #6C757D;">
                 
                  صف انتظار:
                  <br>
                 {{object.waiting_users.count}}
                </label>
                <label class="text-center bg-gray-dark" style="width: 50%;margin:0px;border-radius:0;padding:10px;border-right: solid #6C757D;">
                 
                  کد کتاب:
                  <br>
                 {{object.id}}
                </label>
                <label class="text-center bg-gray" style="width: 50%;margin:0px;padding:10px;border-bottom-right-radius: 5px;border-left: solid #343A40;">
                 
                  درحال مطالعه:
                  <br>
                 {{reading_number}}
                </label>
                <label class="text-center bg-gray" style="width: 50%;margin:0px;padding:10px;border-bottom-left-radius: 5px;border-right: solid #343A40;">
                 
                  دسته بندی:
                  <br>
                  {% if request.user.view_categories %}
                    
                  {% for category in object.category.all %}
                  <a href="{% url 'account:category-detail' category.slug %}">{{category.name}}</a>, 
                {% endfor %}
                {%else%}
                {% for category in object.category.all %}
                {{category.name}}, 
                {% endfor %}
                  {% endif %}

                </label>
                
              </div>



              <div class="mt-4" style="text-align: left;margin-left: 35px;">
                {% if request.user.update_books %}
                  
                <a href="{% url 'account:book-update' object.slug %}" class="btn btn-primary btn-lg btn-flat" style="border-radius: 3px;font-weight: bold;">
              ویرایش</a>
                {% endif %}
                {% if request.user.delete_books %}
                  <a href="{% url 'account:book-delete' object.slug %}" class="btn btn-danger btn-lg btn-flat" style="border-radius: 3px;font-weight: bold;">
                حذف</a>
                {% endif %}
                  
                 
              </div>


            </div>
          </div>
          <div class="row mt-4">
            <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
               
                <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="true">توضیحات</a>
                {% if request.user.view_comments %}
                <a class="nav-item nav-link active" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">نظرات</a>
                {% endif %}
              </div>

            </nav>
            <div class="tab-content p-3" id="nav-tabContent" style="width: 100%;" >
              <div class="tab-pane fade active show" style="padding: 10px;" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> {{object.description|safe|linebreaksbr}}
                 </div>
                 {% if request.user.view_comments %}
              <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">
                  {% for comment in comments %}
                  <div class="post clearfix">
                    <div style="display: flex;flex-direction: row;align-items: center;">
                      
                    <div style="width: 50%;">
                      {% if request.user.view_users %}
                      <a href="{% url 'account:user-detail' comment.user.id %}"><img src="{{comment.user.picture.url}}" class="img-circle elevation-2" alt="User Image" style="width: 65px !important; height: 65px !important;object-fit: cover;"></a>
                      
                      <span class="username">
                        <a href="{% url 'account:user-detail' comment.user.id %}"  style="color: black;font-size: 18px;font-weight: bold;">{% if comment.user.get_full_name %}
                          {{comment.user.get_full_name}}
                          {%else%}
                          {{comment.user.username}}
                        {% endif %}</a>
                      </span>
                        {%else%}
                      <img src="{{comment.user.picture.url}}" class="img-circle elevation-2" alt="User Image" style="width: 65px !important; height: 65px !important;object-fit: cover;">
                      
                      <span class="username">
                        {% if comment.user.get_full_name %}
                          {{comment.user.get_full_name}}
                          {%else%}
                          {{comment.user.username}}
                        {% endif %}
                      </span>
                      {% endif %}
                    </div>
                    <!-- /.user-block -->
                    <div style="width: 50%;text-align: left;">
                      <p class="description" style="font-weight: 600;margin: 1px;">{{comment.persian_date_created|date:'Y/m/d'}}</p>
                      {% if comment.status == "تایید شده" %}
                      <p class="badge badge-success" style="font-size: 14px;margin: 1px;">تایید شده</p>
                  {% elif comment.status == "درحال بررسی" %}
                    <p class="badge badge-primary" style="background-color: orangered;font-size: 14px;margin: 1px;">درحال بررسی</p>
                  {% elif comment.status == "رد شده" %}
                    <p class="badge badge-danger" style="font-size: 14px;margin: 1px;">رد شده</p>
                {% endif %}
                    <p class="star-rate" style="width: 100%;">
                      
                     {% if comment.rating == 0 %}
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                     {% elif comment.rating == 1 %}
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                     {% elif comment.rating == 2 %}
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star "></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                     {% elif comment.rating == 3 %}
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                     {% elif comment.rating == 4 %}
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     {% elif comment.rating == 5 %}
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     {% endif %}
                    </p>
                    </div>
                    </div>
                    <p class="td-28" style="margin-top: 10px;">
                      <a href="{% url 'account:comment-detail' comment.id %}" style="color: black;font-size: 18px;font-weight: 400;">{{comment.text}}</a>
                    </p>
                  </div>
                  {% endfor %}
              
                <div class="card-footer" style="background-color: white;border-top: 0;">
                  <nav aria-label="Contacts Page Navigation">
                    <ul class="pagination justify-content-center m-0">
                      
                      {% if comments_page.has_previous %}
                      <li class="page-item"><a style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" class="page-link" href="?comments_page={{ comments_page.previous_page_number }}">&lt;</a></li>
                      {% endif %}
                  {% for page_number in comments_page_range %}
                  <li class="page-item {% if page_number == comments_page.number %}active{% endif %}"><a style="border-radius: 0;" class="page-link" href="?comments_page={{page_number}}">{{page_number}}</a></li>
                  {% endfor %}
                  {% if comments_page.has_next %}
                  <li class="page-item"><a style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="page-link" href="?comments_page={{ comments_page.next_page_number }}">&gt;</a></li>
                  {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
              
              {% endif %}

            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <style>

    
.grid-body {
    display: flex;
    justify-content: center;
}

.bookprop-table {
    box-shadow: 0px 12px 14px 0px;
    height: fit-content;
    width: 50%;
}

.tr-row {
    height: 50px;
    /* border: solid; */
    border-radius: 10px;
    background: #bfbfbf;
}
.book-ad-single{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.book-ad-single img{
    width: 350px;
    height: 350px;
    margin: 50px;
}

.tr-alt-row {
    background: white;
}
  </style>
{% endblock content %}
