{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load jalali_tags %}
{% block title%}
      {% if request.resolver_match.url_name == "reservation-create" %}
       افزودن رزرو
      {% elif request.resolver_match.url_name == "reservation-update" %}
       ویرایش رزرو
      {% endif %}
{% endblock title %}
{% block content %}
  <div class="card card-primary">
    <div class="card-header">
      {% if request.resolver_match.url_name == "reservation-create" %}
        <h3 class="card-title float-left">افزودن رزرو</h3>
      {% elif request.resolver_match.url_name == "reservation-update" %}
        <h3 class="card-title float-left">ویرایش رزرو</h3>
      {% endif %}
      
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form role="form" method="post" action="">{% csrf_token %}
      <div class="row" style="padding: 20px;">
        {{form|crispy}}
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">تایید</button>
      </div>
      {{form.kwargs}}
    </form>
  </div>
{% endblock content %}