{% extends "account/admin/base.html" %}
{% block title %}
  کاربران
{% endblock title %}
{% block content %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1233.2px;margin-right: 0 !important;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>کاربران</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'account:admin-profile' %}">خانه</a></li>
              <li class="breadcrumb-item active">کاربران</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row d-flex align-items-stretch">

            
            {% for user in object_list %}
            <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="small-box card card-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                 <a href="{% url 'account:user-detail' user.id %}">
                  
                {% if not user.is_active %}
                <div class="small-box widget-user-header bg-gray-dark" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                  <div class="inner" style="padding: 0px;">
                    <h3 class="widget-user-username">{% if user.get_full_name %}
                    {{user.get_full_name|truncatewords:3}}
                    {%else%}
                    {{user.username|truncatechars:15}}
                  {% endif %}</h3>
                  {% if user.is_superuser %}
                    <h5 class="widget-user-desc">ابر ادمین</h5>
                  {% elif user.is_staff %}
                      <h5 class="widget-user-desc">ادمین</h5>
                  {% elif user.role %}
                  <h5 class="widget-user-desc">{{user.role}}</h5>
                  {% endif %}
                  </div>
                  <div class="icon">
                    <i class="fa fa-user-times"></i>
                  </div>
                </div>
                {% elif user.is_information_compelete %}
                <div class="small-box widget-user-header bg-success" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                  <div class="inner" style="padding: 0px;">
                    <h3 class="widget-user-username">{% if user.get_full_name %}
                    {{user.get_full_name|truncatewords:3}}
                    {%else%}
                    {{user.username|truncatechars:15}}
                  {% endif %}</h3>
                  {% if user.is_superuser %}
                    <h5 class="widget-user-desc">ابر ادمین</h5>
                  {% elif user.is_staff %}
                      <h5 class="widget-user-desc">ادمین</h5>
                  {% elif user.role %}
                  <h5 class="widget-user-desc">{{user.role}}</h5>
                  {% endif %}
                  </div>
                  <div class="icon">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
                {% elif not user.is_information_compelete %}
                <div class="small-box widget-user-header bg-warning" style="border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;">
                  <div class="inner" style="padding: 0px;">
                    <h3 class="widget-user-username">{% if user.get_full_name %}
                      {{user.get_full_name|truncatewords:3}}
                      {%else%}
                      {{user.username|truncatechars:15}}
                    {% endif %}</h3>
                    {% if user.is_superuser %}
                      <h5 class="widget-user-desc">ابر ادمین</h5>
                    {% elif user.is_staff %}
                      <h5 class="widget-user-desc">ادمین</h5>
                  {% elif user.role %}
                  <h5 class="widget-user-desc">{{user.role}}</h5>
                    {% endif %}
                  </div>
                  <div class="icon">
                    <i class="fa fa-edit"></i>
                  </div>
                </div>
                
                {% endif %}
                <div class="widget-user-image">
                  <img class="img-circle elevation-2" src="{{user.picture.url}}" alt="{{user.username}}" style="margin-left: -5px;object-fit: cover;width: 100px;height: 100px;">
                </div>
                 </a>
                 <div class="card-footer p-0" style="border-top:0px;margin-top: 40px;">
                  <ul class="nav flex-column" style="background-color: white;padding: 0px;">
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                        کد عضویت: <span class="float-right">{{user.id}}</span>
                      
                    </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                        کد ملی: <span class="float-right">{{user.national_code}}</span>
                      
                    </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                        تلفن همراه: <span class="float-right">{{user.sel_number}}</span>
                      
                    </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                        تاریخ تولد: <span class="float-right">{{user.persian_birth_date}}</span>
                    </li>
                    {% if user.role == "کارمند" %}
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      کد پرسنلی: <span class="float-right">{{user.emp_id}}</span>
                  </li>
                    {% elif user.role == "دانشجو" %}
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      کد دانشجویی: <span class="float-right">{{user.st_id}}</span>
                  </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      مقطع تحصیلی: <span class="float-right">{{user.st_grade}}</span>
                  </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      رشته تحصیلی: <span class="float-right">{{user.st_major}}</span>
                  </li>
                    {% elif user.role == "استاد" %}
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      کد استادی: <span class="float-right">{{user.pro_id}}</span>
                  </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      مقطع آموزشی: <span class="float-right">{{user.pro_grade}}</span>
                  </li>
                    <li class="nav-item" style="border-bottom:0px;margin: 0px 18px 7px 18px;">
                      رشته آموزشی: <span class="float-right">{{user.pro_major}}</span>
                  </li>
                    {% endif %}
                  </ul>
                  <a href="{% url 'account:user-detail' user.id %}" class="btn btn-default" style="width: 100%;border-top-left-radius: 0px;border-top-right-radius: 0px;">
                    مشخصات کامل <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
              <!-- /.widget-user -->
            </div>
            {% endfor %}

            
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              
              {% if page_obj.has_previous %}
              <li class="page-item"><a style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                  {% endif %}
              {% for page_number in page_obj.paginator.page_range %}
                
              <li class="page-item {% if page_obj.number == page_number %}active{% endif %}"><a style="border-radius: 0;" class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item"><a style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                  {% endif %}
            </ul>
          </nav>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock content %}