{% extends "account/base.html" %}
{% block title %}
کتاب ها
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست کتاب ها</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
                <form action="" method="get">
                  {{searchForm}}
                  <button type="submit">search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام نویسنده</th>
                <th>عکس</th>
                <th>کد نویسنده</th>
                <th>تاریخ ایجاد</th>
                <th>توضیحات</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for author in object_list %}
              
              <tr>
                <td><a href="{% url 'account:author-detail' author.slug %}">{{author.name}}</a></td>
                <td>{{author.html_img}}</td>
                <td>{{author.id}}</td>
                <td>{{author.persian_date}}</td>
                <td>{{author.description|linebreaksbr|striptags|truncatewords:10}}</td>
                <td>
                  <a href="{% url 'author:author' author.slug %}" class="btn btn-primary" style="font-size: 11px;">نمایش در سایت</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}