{% extends "account/base.html" %}
{% block title %}
کتاب ها
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست کتاب ها</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <form action="" method="get">
                {{searchForm}}
                <button type="submit">search</button>
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام کتاب</th>
                <th>عکس</th>
                <th>کد کتاب</th>
                <th>نویسنده</th>
                <th>ناشر</th>
                <th>مترجم</th>
                <th>توصیحات</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
              {% for book in object_list %}
              
              <tr>
                <td><a href="{% url 'account:book-detail' book.slug %}">{{book.name}}</a></td>
                <td>{{book.html_img}}</td>
                <td>{{book.id}}</td>
                <td>{{book.author_str}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.translator}}</td>
                <td>{{book.description|linebreaksbr|striptags|truncatewords:10}}</td>
                <td>{% if book.in_stock == 0 %}
                      <span class="badge badge-danger" style="font-size: 13px;">ناموجود</span>
                    {% else %}
                      <span class="badge badge-success" style="font-size: 13px;">موجود</span>
                    {% endif %}<a href="{% url 'books:book-detail' book.slug %}" class="btn btn-primary" style="font-size: 11px;">نمایش در سایت</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}