{% if request.user.is_authenticated %}
	{% if not reservation %}
		{% if book.in_stock_user > 0 %}
			{% if request.user.is_information_compelete %}
				{% if request.user.reservation_limit > 0  %}
					<a href="{% url 'books:reservation-add' book.id %}" class="btn btn-primary py-2 mr-1"> رزرو</a>
				{% else %}
					<span style="width: 142px;" data-bs-toggle="tooltip" title="شما به حد تعداد رزروتان رسیدید!">
						<a href="#" style="width: 137px;" class="btn btn-primary py-2 mr-1 disabled"> رزرو</a>
					</span>
				{% endif %}
			{% else %}
				<span style="width: 142px;" data-bs-toggle="tooltip" title="اطلاعات شخصیتان کامل وارد نشده!">
					<a href="#" style="width: 137px;" class="btn btn-primary py-2 mr-1 disabled"> رزرو</a>
				</span>
			{% endif %}
		{% else %}
			{% if not book.is_waiting %}
				<a href="{% url 'books:waiting-add' book.id %}" class="btn btn-info py-2 mr-1"> خبرم کن</a>
			{% else %}
				<a href="{% url 'books:waiting-add' book.id %}" class="btn btn-outline-info disabled py-2 mr-1"> خبرم کن</a>
			{% endif %}
		{% endif %}
							  
	{% elif reservation.status == "رزرو شده" %}
		<a href="{% url 'books:reservation-add' book.id %}" class="btn btn-outline-primary py-2 mr-1">رزرو شده</a>
	{% elif reservation.status == "تحویل داده شده" %}
		<a href="#" class="btn btn-success py-2 mr-1 disabled"> تحویل داده شده</a>
	{% endif %}
{% else %}
	{% if book.in_stock_user > 0 %}
		<a href="{% url 'login' %}?next={{request.path}}" class="btn btn-primary py-2 mr-1">رزرو</a>
	{% else %}
		<a href="{% url 'login' %}?next={{request.path}}" class="btn btn-info py-2 mr-1"> خبرم کن</a>
	{% endif %}
{% endif %}