{% extends "main/base.html" %}
{% load static %}
{% load reservation_btn %}
{% load bookmark_btn %}

{% block title %}
  {{object.name}}
{% endblock title %}
{% block content %}
  
<div class="alertion hide" id="alertion"> 
	<hr>
	<h6 id="alertion-text"></h6>
	<hr>

  </div>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{theme.image1.url}});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
	<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
		{% include "main/search_bar.html" %}

	  <div class="col-md-11 ftco-animate pb-5" style="text-align: right;">
		  <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'books:index' %}">خانه </a><i class="ion-ios-arrow-forward"></i></span> <span><a href="{% url 'author:authors' %}">نویسندگان</a>  <i class="ion-ios-arrow-forward"></i></span></p>
		<h1 class="mb-3 bread">درباره {{object.name}}</h1>
	  </div>
	</div>
  </div>
</section>


<section class="ftco-section ftco-about ftco-writer">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="
			background-image: url({{object.picture.url}});
			max-width: 300px;
			height: 300px;
			border-radius: 200px;">
			</div>
			<div class="col-md-6 wrap-about ftco-animate">
	  <div class="heading-section heading-section-white pl-md-5" style="text-align: right;direction: rtl;">
		  <span class="subheading""> درباره </span>
		<h2 class="mb-4">{{object.name}}</h2>

		{% autoescape off %}
		<p>{{object.description|linebreaksbr|truncatewords:50|safe}}</p>
		
		{% endautoescape %}
	  </div>
			</div>
		</div>
	</div>
</section>


	  <div class="row"  style="
	  flex-direction: column;
	  align-content: space-evenly;">
	  <div class="row ">
		  <div class="col-md-12 pills">
					<div class="bd-example bd-example-tabs">
						<div class="d-flex justify-content-center">
						  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

							<li class="nav-item">
							  <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">توضیحات</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true"> آثار نویسنده</a>
							</li>
						  </ul>
						</div>

					  <div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active hide" id="pills-description1" role="tabpanel" aria-labelledby="pills-description-tab" style=" 
						display: flex;
						justify-content: center;">
								  
	<div class="row" style="width: 70%;">
		{% if object.books.exists %}
			{% for book in object.books.all %}
				{% if forloop.counter <= 3 %}
					<div class="col-md-4">
						<div class="car-wrap rounded ftco-animate">
							<a href="{% url 'books:book-detail' book.slug %}"><div class="img rounded d-flex align-items-end" style="background-image: url({{book.picture.url}});">
							{% bookmark_btn request book %}
							</div></a>
							<div class="text">
								<h2 class="mb-0"><a href="{% url 'books:book-detail' book.slug %}">{{book.name}}</a></h2>
								<div class="d-flex mb-3">
									<span class="cat">{{book.author_str}}</span>
									<p class="price ml-auto">{{book.in_stock_user}} <span>/تعداد</span></p>
								</div>
								<p class="d-flex mb-0 d-block">{% reservation_btn request book %}
								<a href="{% url 'books:book-detail' book.slug %}" class="btn btn-secondary py-2 ml-1">مشاهده جزءیات</a></p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
			<a href="{% url 'books:books' object.slug %}">مشاهده همه</a>
		{% else %}
			<h1>کتابی از این نویسنده در کتابخانه ثبت نشده است.</h1>
		{% endif %}
	</div>
						</div>
						
						<div class="tab-pane fade hide show active special" id="pills-manufacturer1" role="tabpanel" aria-labelledby="pills-manufacturer-tab" style="display: flex; justify-content: center;text-align: center;">
							
						  {% autoescape off %}
							<p style="width: 70%;
							direction: rtl;
							text-align: right;
							color: black;">{{object.description|linebreaksbr|safe}}</p>
						  
						  {% endautoescape %}
						</div>

					 
					</div>
		  </div>
			</div>
  </div>
</section>

<section class="ftco-section ftco-no-pt">
	<div class="container">
		<div class="row justify-content-center">
	  <div class="col-md-12 heading-section text-center ftco-animate mb-5">
		<h2 class="mb-2">نویسنده های  دیگر     
		</h2>
		
		<div class="row" style="justify-content: space-between;">
			<!-- --------------------------------------- -->
			{% for author in authors %}
			<div class="col-writers ">
				<div class="car-wrap writercont rounded ftco-animate">
					<a href="{% url 'author:author-detail' author.slug %}" ><div class="img img-writer rounded d-flex align-items-end" style="background-image: url({{author.picture.url}});">
					</div></a>
					<div class="text writer-text">
			<section class="writer-nameflex ">
						  <h2 class="mb-0"><a href="{% url 'author:author-detail' author.slug %}">  {{author.name}} </a></h2>
						   <div class="d-flex mb-3">
							 <p class="price ml-auto">{{author.books.all.count}} <span>/اثر</span></p>
						 </div>
		  </section>
						<p class="d-flex mb-0 d-block"><a href="{% url 'author:author-detail' author.slug %}" class="btn btn-secondary py-2 ml-1 writer-btn">مشاهده جزءیات
			</a></p>
					</div>
				</div>
			</div>
			{% endfor %}
	   <!-- ---------------------------------- -->
			
	  </div>
	</div>

	</div>
	<a href="{% url 'author:authors' %}">مشاهده همه</a>	


</section>
  <script src="{% static 'main/js/writersingle.js' %}"></script>
   
  
	
{% endblock content %}