{% extends "account/base.html" %}
{% block title %}
{{user.name}}
{% endblock title %}
{% block content %}
<p>{{user.username}}</p>
<img src="{{user.picture.url}}" width="100px">
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.email}}</p>
<p>{{user.address}}</p>
<p>{{user.national_code}}</p>
<p>{{user.sel_number}}</p>
<p>{{user.home_number}}</p>
<p>{{user.persian_birthdate}}</p>
<p>{{user.is_superuser}}</p>
<p>{{user.is_staff}}</p>
<p>{{user.is_active}}</p>
  <a href="{% url 'account:user-update' user.id %}" class="btn bg-warning">ویرایش مشخصات کاربر</a>
  <a href="{% url 'account:user-delete' user.id %}" class="btn bg-danger">حذف کاربر</a>
{% endblock content %}