{% extends "account/base.html" %}
{% block title %}
{{user.name}}
{% endblock title %}
{% block content %}
<p>{{user.username}}</p>
<img src="{{user.picture.url}}" width="100px">
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.email}}</p>
<p>{{user.address}}</p>
<p>{{user.national_code}}</p>
<p>{{user.sel_number}}</p>
<p>{{user.home_number}}</p>
<p>{{user.persian_birthdate}}</p>
<p>{{user.is_superuser}}</p>
<p>{{user.is_staff}}</p>
<p>{{user.is_active}}</p>
  <a href="{% url 'account:user-update' user.id %}" class="btn bg-warning">ویرایش مشخصات کاربر</a>
  <a href="{% url 'account:user-delete' user.id %}" class="btn bg-danger">حذف کاربر</a>

<br>  
<br>  
<br>  
<div class="row" style="margin-top: 25px;">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title float-left">سابقه رزرو ها</h3>

        <!-- <div class="card-tools float-right">
          <div class="input-group input-group-sm" style="width: 150px;">
            <form action="" method="get">
              {{searchForm}}
              <button type="submit">search</button>
            </form>
          </div>
        </div> -->
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0" style="height: 400px;">
        <table class="table table-head-fixed" style="text-align: center;">
          <thead>
            <tr>
              <th>شماره رزرو</th>
              <th>کتاب</th>
              <th>تاریخ رزرو</th>
              <th>وضعیت</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for reservation in reservations %}
            
            <tr>
              <td><a href="{% url 'account:reservation-detail' reservation.reservation_id %}">{{reservation.reservation_id}}</a></td>
              <td><a href="{% url 'account:book-detail' reservation.book_id.id %}">{{reservation.book_id}}</a></td>
              <td>{{reservation.persian_date_added}}</td>
              <td>{% if reservation.status == "رزرو شده" %}
                    <span class="badge badge-info" style="font-size: 13px;">رزرو شده</span>
                  {% elif reservation.status == "تحویل داده شده" %}
                    <span class="badge badge-primary" style="font-size: 13px;">تحویل داده شده</span>
                  {% elif reservation.status == "بازگردانده نشده" %}
                    <span class="badge badge-danger" style="font-size: 13px;">بازگردانده نشده</span>
                  {% elif reservation.status == "بازگردانده شده" %}
                    <span class="badge badge-success" style="font-size: 13px;">بازگردانده شده</span>
                  {% elif reservation.status == "لغو رزرو" %}
                    <span class="badge badge-danger" style="font-size: 13px;">لغو رزرو</span>
                  {% endif %}</td>
                <td>
                  <a href="{% url 'account:reservation-delete' reservation.reservation_id %}" class="btn btn-danger btn-sm">حذف رزرو</a>
                  {% if reservation.status == "رزرو شده" %}
                  <a class="btn btn-primary btn-sm" href="{% url 'account:delivered-action' reservation.reservation_id %}">تحویل داده شد</a>
                  <a class="btn btn-danger btn-sm" href="{% url 'account:cancel-action' reservation.reservation_id %}">لغو رزرو</a>
                  {% elif reservation.status == "تحویل داده شده" or reservation.status == "بازگردانده نشده" %}
                  <a class="btn btn-success btn-sm" href="{% url 'account:returned-action' reservation.reservation_id %}">بازگردانده شده</a>
                  {% elif reservation.status == "لغو رزرو" %}
                  <a class="btn btn-info btn-sm" href="{% url 'account:reserve-action' reservation.reservation_id %}">رزرو شده</a>

                  {% endif %}
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock content %}