{% extends "account/base.html" %}
{% block title %}
کاربران
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست کاربران</h3>

          <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <form action="" method="get">
                {{searchForm}}
                <button type="submit">search</button>
              </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>نام کاربری</th>
                <th>نام کامل</th>
                <th>شماره کاربری</th>
                <th>کد ملی</th>
                <th>ایمیل</th>
                <th>نقش</th>
              </tr>
            </thead>
            <tbody>
              {% for user in object_list %}
                {% if user.username != request.user.username %}
                      <tr>
                    <td><a href="{% url 'account:user-detail' user.id %}">{{user.username}}</a></td>
                    <td>{{user.get_full_name}}</td>
                    <td>{{user.id}}</td>
                    <td>{{user.national_code}}</td>
                    <td>{{user.email}}</td>
                    <td>
                    {% if user.is_superuser %}
                    <span class="badge badge-primary" style="font-size: 13px;">ادمین</span>
                    {% elif user.is_staff %}
                    <span class="badge badge-info" style="font-size: 13px;">کارمند</span>
                    {% else %}
                    <span class="badge bg-navy" style="font-size: 13px;">کاربر</span>
                    {% endif %}
                    {% if user.is_active %}
                    <span class="badge badge-success" style="font-size: 13px;">فعال</span>
                    {% else %}
                    <span class="badge bg-black" style="font-size: 13px;">غیر فعال</span>
                    {% endif %}
                    </td>
                    
                  </tr>
                {% endif %}
              
              
              {% endfor %}
            </tbody>
          </table>
        </div>
        
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}