{% extends "account/admin/base.html" %}
{% block title %}
درخواست های تمدید
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">درخواست های تمدید</h3>

          <!-- <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <form action="" method="get">
                {{searchForm}}
                <button type="submit">search</button>
              </form>
            </div>
          </div> -->
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>شماره رزرو</th>
                <th>کتاب</th>
                <th>کاربر</th>
                <th>تاریخ رزرو</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for reservation in object_list %}
              
              <tr>
                <td>
                  <a href="{% url 'account:reservation-detail' reservation.reservation_id %}">{{reservation.reservation_id}}</a>
                </td>
                {% if request.user.view_books %}
                  <td><a href="{% url 'account:book-detail' reservation.book.slug %}">{{reservation.book}}</a></td>
                {% else %}
                  <td><a href="{% url 'books:book-detail' reservation.book.slug %}">{{reservation.book}}</a></td>
                {% endif %}
                    {% if reservation.user.id == request.user.id or not request.user.view_users %}
                    <td>{{reservation.user}}</td>
                    {% else %}
                    <td><a href="{% url 'account:user-detail' reservation.user.id %}">{{reservation.user}}</a></td>
                    {% endif %}
                <td>{{reservation.persian_date_added}}</td>
                
                  {% if request.user.update_reservations %}
                    <td>
                      <a class="btn btn-sm" style="background-color: orangered;
                      color: white;
                      font-weight: bold;
                      font-size: 16px;" href="{% url 'account:extend-action' reservation.reservation_id %}">تمدید</a>
                    </td>
                  {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              
              {% if page_obj.has_previous %}
              <li class="page-item"><a style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                  {% endif %}
              {% for page_number in page_obj.paginator.page_range %}
                
              <li class="page-item {% if page_obj.number == page_number %}active{% endif %}"><a style="border-radius: 0;" class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item"><a style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                  {% endif %}
            </ul>
          </nav>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}