{% extends "account/admin/base.html" %}
{% block title %}
رزرو ها
{% endblock title %}
{% block content %}

<div class="row" style="margin-top: 25px;">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title float-left">لیست رزرو ها</h3>

          <!-- <div class="card-tools float-right">
            <div class="input-group input-group-sm" style="width: 150px;">
              <form action="" method="get">
                {{searchForm}}
                <button type="submit">search</button>
              </form>
            </div>
          </div> -->
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 400px;">
          <table class="table table-head-fixed" style="text-align: center;">
            <thead>
              <tr>
                <th>شماره رزرو</th>
                <th>کتاب</th>
                <th>کاربر</th>
                <th>تاریخ رزرو</th>
                <th>وضعیت</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for reservation in object_list %}
              
              <tr>
                <td>
                  <a href="{% url 'account:reservation-detail' reservation.reservation_id %}">{{reservation.reservation_id}}</a>
                </td>
                {% if request.user.view_books and request.user.is_staff or request.user.is_superuser %}
                  <td><a href="{% url 'account:book-detail' reservation.book_id.slug %}">{{reservation.book_id}}</a></td>
                {% else %}
                  <td><a href="{% url 'books:book-detail' reservation.book_id.slug %}">{{reservation.book_id}}</a></td>
                {% endif %}
                    {% if reservation.user_id.id == request.user.id or not request.user.view_users %}
                    <td>{{reservation.user_id}}</td>
                    {% else %}
                    <td><a href="{% url 'account:user-detail' reservation.user_id.id %}">{{reservation.user_id}}</a></td>
                    {% endif %}
                <td>{{reservation.persian_date_added}}</td>
                <td>{% if reservation.status == "رزرو شده" %}
                      <span class="badge badge-info" style="font-size: 13px;">رزرو شده</span>
                    {% elif reservation.status == "تحویل داده شده" %}
                      <span class="badge badge-primary" style="font-size: 13px;">تحویل داده شده</span>
                    {% elif reservation.status == "بازگردانده نشده" %}
                      <span class="badge badge-danger" style="font-size: 13px;">بازگردانده نشده</span>
                    {% elif reservation.status == "بازگردانده شده" %}
                      <span class="badge badge-success" style="font-size: 13px;">بازگردانده شده</span>
                    {% elif reservation.status == "لغو رزرو" %}
                      <span class="badge badge-danger" style="font-size: 13px;">لغو رزرو</span>
                    {% endif %}</td>
                  {% if request.user.is_superuser or request.user.is_staff and request.user.update_reservations %}
                    <td>
                      <a href="{% url 'account:reservation-delete' reservation.reservation_id %}" class="btn btn-danger btn-sm">حذف رزرو</a>
                      {% if reservation.status == "رزرو شده" %}
                      <a class="btn btn-primary btn-sm" href="{% url 'account:delivered-action' reservation.reservation_id %}">تحویل داده شد</a>
                      <a class="btn btn-danger btn-sm" href="{% url 'account:cancel-action' reservation.reservation_id %}">لغو رزرو</a>
                      {% elif reservation.status == "تحویل داده شده" or reservation.status == "بازگردانده نشده" %}
                      <a class="btn btn-success btn-sm" href="{% url 'account:returned-action' reservation.reservation_id %}">بازگردانده شده</a>

                      {% endif %}
                    </td>
                  {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
              
              {% if page_obj.has_previous %}
              <li class="page-item"><a style="border-top-left-radius: 0;border-bottom-left-radius: 0;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                  {% endif %}
              {% for page_number in page_obj.paginator.page_range %}
                
              <li class="page-item {% if page_obj.number == page_number %}active{% endif %}"><a style="border-radius: 0;" class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
              <li class="page-item"><a style="border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-right-radius: 0;border-bottom-right-radius: 0;" class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                  {% endif %}
            </ul>
          </nav>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  
{% endblock content %}