{% extends "main/base.html" %}
{% load static %}
{% block title %}
  نویسندگان
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/css/searchbar-responsive.css' %}">
<link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'main/css/new-s.css' %}">
{% endblock style %}
{% block content %}


<div class="alertion hide" id="alertion"> 
<hr>
<h6 id="alertion-text"></h6>
<hr>

</div>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({{theme.image1.url}});" data-stellar-background-ratio="0.5">
<div class="overlay"></div>
<div class="container">
<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
	{% include "main/search_bar.html" %}
	<div class="col-md-11 ftco-animate pb-5" style="direction: rtl;text-align: right;">
	  <p class="breadcrumbs"><span class="mr-2"><a href="/">خانه <i class="ion-ios-arrow-forward"></i></a></span> <span> نویسندگان <i class="ion-ios-arrow-forward"></i></span></p>
	<h1 class="mb-3 bread">  نویسندگان</h1>
  </div>
</div>
</div>
</section>

<section class="ftco-section bg-light">
<div class="container">

<div class="row" style="justify-content: space-between;">
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%B5%D8%A7%D8%AF%D9%82-%D9%87%D8%AF%D8%A7%DB%8C%D8%AA/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/sadeq_hedayat.jpg" alt="صادق هدایت">
			<div class="left">
				<h2 itemprop="name">صادق هدایت</h2>
				
				
					
					<div class="desc">
						
						<p>۲۸ بهمن ۱۲۸۱ تا ۱۹ فروردین ۱۳۳۰ - ایرانی صادق هدایت یکی از بزرگ&zwnj;ترین و …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%AC%D9%84%D8%A7%D9%84-%D8%A2%D9%84-%D8%A7%D8%AD%D9%85%D8%AF/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D8%A2%D9%84_%D8%A7%D8%AD%D9%85%D8%AF.jpg" alt="جلال آل‌ احمد">
			<div class="left">
				<h2 itemprop="name">جلال آل‌ احمد</h2>
				
				
					
					<div class="desc">
						
						۱۱ آذر ۱۳۰۲ تا ۱۸ شهریور ۱۳۴۸ - ایرانی جلال آل‌ احمد نویسنده‌ی تأثیرگذار معاصر …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%A7%D8%AD%D9%85%D8%AF-%D8%B4%D8%A7%D9%85%D9%84%D9%88/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D8%B4%D8%A7%D9%85%D9%84%D9%88.jpg" alt="احمد شاملو">
			<div class="left">
				<h2 itemprop="name">احمد شاملو</h2>
				
				
					
					<div class="desc">
						
						۲۱ آذر ۱۳۰۴ تا ۲ مرداد ۱۳۷۹ - ایرانی حمد شاملو (Ahmad Shamlou) در بیست‌ویکمین …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D9%88%DB%8C%DA%A9%D8%AA%D9%88%D8%B1-%D9%87%D9%88%DA%AF%D9%88/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D9%88%DB%8C%DA%A9%D8%AA%D9%88%D8%B1_%D9%87%D9%88%DA%AF%D9%88.jpg" alt="ویکتور هوگو">
			<div class="left">
				<h2 itemprop="name">ویکتور هوگو</h2>
				
				
					
					<div class="desc">
						
						۲۶ فوریه‌ی ۱۸۰۲ تا ۲۲ مه‌ی ۱۸۸۵ - فرانسوی ویکتور هوگو (Victor Hugo)، با نام …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D9%88%DB%8C%D9%84%DB%8C%D8%A7%D9%85-%D8%B4%DA%A9%D8%B3%D9%BE%DB%8C%D8%B1/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D9%88%DB%8C%D9%84%DB%8C%D8%A7%D9%85_%D8%B4%DA%A9%D8%B3%D9%BE%DB%8C%D8%B1.jpg" alt="ویلیام شکسپیر">
			<div class="left">
				<h2 itemprop="name">ویلیام شکسپیر</h2>
				
				
					
					<div class="desc">
						
						۲۶ آوریل ۱۵۶۴ تا ۲۳ آوریل ۱۶۱۶ - انگلیسی ویلیام شکسپیر (William Shakespeare) در شهر …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%B2%DB%8C%DA%AF%D9%85%D9%88%D9%86%D8%AF-%D9%81%D8%B1%D9%88%DB%8C%D8%AF/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D8%B2%DB%8C%DA%AF%D9%85%D9%88%D9%86%D8%AF_%D9%81%D8%B1%D9%88%DB%8C%D8%AF.jpg" alt="زیگموند فروید">
			<div class="left">
				<h2 itemprop="name">زیگموند فروید</h2>
				
				
					
					<div class="desc">
						
						۶ مه‌ی ۱۸۵۶ تا ۲۳ سپتامبر ۱۹۳۹ - اتریشی زیگموند فروید (Sigmund Freud) در 6 …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D9%88%D9%88%D8%AF%DB%8C-%D8%A2%D9%84%D9%86/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D9%88%D9%88%D8%AF%DB%8C_%D8%A7%D9%84%D9%86.jpg" alt="وودی آلن">
			<div class="left">
				<h2 itemprop="name">وودی آلن</h2>
				
				
					
					<div class="desc">
						
						۱ دسامبر ۱۹۳۵ - آمریکایی وودی آلن (Woody Allen)، با نام اصلی آلن استوارت کونیگسبرگ، …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%DA%AF%D8%A7%D8%A8%D8%B1%DB%8C%D9%84-%DA%AF%D8%A7%D8%B1%D8%B3%DB%8C%D8%A7-%D9%85%D8%A7%D8%B1%DA%A9%D8%B2/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%DA%AF%D8%A7%D8%A8%D8%B1%DB%8C%D9%84_%DA%AF%D8%A7%D8%B1%D8%B3%DB%8C%D8%A7_%D9%85%D8%A7%D8%B1%DA%A9%D8%B2.jpg" alt="گابریل گارسیا مارکز">
			<div class="left">
				<h2 itemprop="name">گابریل گارسیا مارکز</h2>
				
				
					
					<div class="desc">
						
						۶ مارس ۱۹۲۷ تا ۱۷ آوریل ۲۰۱۴ - کلمبیایی گابریل گارسیا مارکز (Gabriel José García …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%DA%86%D8%A7%D8%B1%D9%84%D8%B2-%D8%AF%DB%8C%DA%A9%D9%86%D8%B2/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%DA%86%D8%A7%D8%B1%D9%84%D8%B2_%D8%AF%DB%8C%DA%A9%D9%86%D8%B2.jpg" alt="چارلز دیکنز">
			<div class="left">
				<h2 itemprop="name">چارلز دیکنز</h2>
				
				
					
					<div class="desc">
						
						۷ فوریه‌ی ۱۸۱۲ تا ۹ ژوئن ۱۸۷۰ - انگلیسی چارلز دیکنز (Charles Dickens)، با نام …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%A8%D8%B1%D8%A7%DB%8C%D8%A7%D9%86-%D8%AA%D8%B1%DB%8C%D8%B3%DB%8C/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D8%A8%D8%B1%D8%A7%DB%8C%D8%A7%D9%86_%D8%AA%D8%B1%DB%8C%D8%B3%DB%8C.jpg" alt="برایان تریسی">
			<div class="left">
				<h2 itemprop="name">برایان تریسی</h2>
				
				
					
					<div class="desc">
						
						۵ ژانویه‌ی ۱۹۴۴ - کانادایی برایان تریسی (Brian Tracy) در 5 ژانویه‌ی سال 1944 در …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D9%BE%D8%A7%D8%A6%D9%88%D9%84%D8%A7-%D9%87%D8%A7%D9%88%DA%A9%DB%8C%D9%86%D8%B2/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D9%BE%D8%A7%D8%A6%D9%88%D9%84%D8%A7_%D9%87%D8%A7%D9%88%DA%A9%DB%8C%D9%86%D8%B2.jpg" alt="پائولا هاوکینز">
			<div class="left">
				<h2 itemprop="name">پائولا هاوکینز</h2>
				
				
					
					<div class="desc">
						
						۲۶ اوت ۱۹۷۲ - بریتانیایی پائولا هاوکینز (Paula Hawkins) 26 اوت 1972 در شهر هراره …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D9%81%D8%B1%D9%88%D8%BA-%D9%81%D8%B1%D8%AE%D8%B2%D8%A7%D8%AF/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D9%81%D8%B1%D9%88%D8%BA_%D9%81%D8%B1%D8%AE%D8%B2%D8%A7%D8%AF.jpg" alt="فروغ فرخزاد">
			<div class="left">
				<h2 itemprop="name">فروغ فرخزاد</h2>
				
				
					
					<div class="desc">
						
						۸ دی ۱۳۱۳ تا ۲۴ بهمن ۱۳۴۵ - ایرانی فروغ فرخزاد (Forugh Farrokhzad) در یک …
						</div>
				
				</div>
					
			
		</a> 
	
	  
		<a itemscope="" itemtype="" itemid="" href="/authors/%D8%B1%D8%A7%D8%A8%D8%B1%D8%AA-%DA%A9%DB%8C%D9%88%D8%B3%D8%A7%DA%A9%DB%8C/" 
		class="author-block"><meta itemprop="">
			<img itemprop="image" src="/media/uploads/author/%D8%B1%D8%A7%D8%A8%D8%B1%D8%AA_%DA%A9%DB%8C%D9%88%D8%B3%D8%A7%DA%A9%DB%8C.jpg" alt="رابرت کیوساکی">
			<div class="left">
				<h2 itemprop="name">رابرت کیوساکی</h2>
				
				
					
					<div class="desc">
						
						۸ آوریل ۱۹۴۷ - ژاپنی-آمریکایی رابرت کیوساکی (Robert Kiyosaki) در 8 آوریل 1947 در هاوایی …
						</div>
				
				</div>
					
			
		</a> 
	
		
</div>
</div>



<div class="row mt-5">
<div class="col text-center">
<div class="block-27">
  <ul>
	
	
	  
	<li class="active"><a href="?page=1">1</a></li>
	
	
  </ul>
</div>
</div>
</div>
</div>
</section>
  
{% endblock content %}
{% block script %}
  
	<script src="{% static 'main/js/edit-code/object-edit.js' %} "></script>
{% endblock script %}